.App { text-align: center;}
.windowaddrequest  {
  position: absolute;
  top: 40pt;
  left: 35pt;
  z-index: 1001;
}
.savebutton{
  position: relative;
  top:-60pt;
  left: 370px;
  width: 0px;
}
.openandclosebuttonnav{
    position: absolute;
    top: 195pt;
    left:-196pt;
    z-index: 1001;
    width: 25%;
  }
.nav_button{
    top:-50pt;
    left: 205pt;
    background-color: #7a7878b2;
    }
.headernav{
  color: #ffffff;
  font-size: 13pt;
    }
.btn_in_nav_button{margin-left:auto;}
.windowbutton  {
  position: relative;
  top: -50.5pt;
  right:-205pt;
  background-color:  #5b5d5b8c;
  height: 180pt;
}
.button  {position: relative;}
.buttonx  { position: relative; }
.buttonevaluation{
  position: relative;
  margin-left:auto ;
  margin-bottom: -7%;
  }
.recharts-legend-item { font-size: 16pt; }
.headerdropdownitem{
  text-align: center;
  color: white;
  font-size: 11pt;
  }
.window  {
  position: absolute;
  top: 29pt;
  right:0px;
  border: 1px rgba(0, 0, 0, 0) solid;
  width: 32%;
/* max-width: 75px; */
  height: 95%;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #7a787800;
  z-index: 1001;
  align-self: start;
  background-color: rgba(66, 110, 88, 0);
  overflow-y: scroll ;
  overflow-x: scroll;
}
.window::-webkit-scrollbar { display: none;  /* Safari and Chrome */}
.window {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.openandclosechart{
  position: relative;
  bottom: 50pt;
  right: -25pt;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  white-space: normal;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.btn_in_nav_chart{
  position: relative;
  height: 32px;
  width: 24pt;
  margin-left:auto ;
  margin-bottom: 10px;
}
.trash_btn{
  margin-left:5px;
  margin-bottom: 10px;
}
.chart  {
  position: relative;
  width: 390pt;
  height: 300pt;
  right: 80pt;
  top: -6pt;
  background-color: #5b5d5bab;
  }
.nav{
  width: 390pt;
  right: 80pt;
  background-color: #7a787885;
    }
.pointeval{
  position: relative;
  top: 300pt;
  left: 10pt;
  width: 300pt;
  height:220px;
  padding: 100px;
  z-index: 1001;
  background-color:  #5b5d5bab;
    }
.popup{
  height: 125px;
  border-radius: 10px;
  z-index: 1001;
  align-self: start;
  overflow-y:scroll ;
    }
.popup::-webkit-scrollbar { display: none;  /* Safari and Chrome */}