.App {
  text-align: center;
}

.windowaddrequest  {
  position: absolute;
  top: 50pt;
  left: 30pt;
  width: 180pt;
  height:40pt;
  padding: 20pt;
  z-index: 1001;
  align-self: start;
  background-color: rgba(66, 110, 88, 0);
}

.buttonaddrequest  {
  position: relative;
   width: 300pt;
   height: relative;
   left: -15pt;
   bottom:20pt;
  }

.windowbutton  {
  position: absolute;
  top: -15pt;
  left: 200pt;
  width: 300pt;
  height:220px;
  padding: 100px;
  z-index: 1001;
  background-color:  #5b5d5bab;
}
.button  {
  position: relative;
   width: 300pt;
   height: relative;
   left: -69pt;
   bottom: 75pt;
  }
  .buttonevaluation{
    position: relative;
    height: relative;
    left: 90pt;
    bottom: 80pt;
  }

.openandclosebuttonnav{
  position: absolute;
  top: 100pt;
  left:80pt;
}
.nav_button{
  width: 300pt;
  height: 35pt;
  top:-50pt;
  left: 200pt;
  background-color: #7a7878b2;
  z-index: 1001;
  }
  .headernav{
    text-align: left;
    color: #ffffff;
    font-size: 13pt;
    white-space: nowrap;
  }
.btn_in_nav_button{
  margin-left:auto;
  margin-bottom: 1px;
  padding: 10px;
  z-index: 1001;
}
  .recharts-legend-item { font-size: 16pt; }
  .headerdropdownitem{
    text-align: center;
    color: white;
    font-size: 11pt;
  }
.window  {
position: absolute;
top: 29pt;
right:0px;
border: 1px rgba(0, 0, 0, 0) solid;
width: 430pt;
height: 95%;
padding: 100px;
border-radius: 10px;
box-shadow: 5px 5px 5px #7a7878;
z-index: 1001;
align-self: start;
background-color: rgba(66, 110, 88, 0);
overflow-y: scroll ;
overflow-x: scroll;
}
.window::-webkit-scrollbar { 
display: none;  /* Safari and Chrome */
}
.window {
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */
}

.openandclosechart{
position: relative;
bottom: 50pt;
right: -25pt;
}


.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
white-space: normal;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.btn_in_nav_chart{
  margin-left:auto;
  margin-bottom: 10px;
}
.chart  {
  position: relative;
  width: 390pt;
  height: 300pt;
  right: 80pt;
  top: -6pt;
  background-color: #5b5d5bab;
  }
  .nav{
    width: 390pt;
    right: 80pt;
    background-color: #7a787885;
    }

 